.todo_header {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.todo_header p {
  margin: 0;
  padding-bottom: 0.25rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.header__pomodoros {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.input__pomodoros {
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 2px;
  outline: 1px solid #e6e8ed;
}
.header__pomodoros button {
  width: 2rem;
  height: 2rem;
  border-radius: 2px;
}
.input_task {
  min-width: 20rem;
  min-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem;
  border: none;
  outline: none;
}
.input_task-light {
  background: #f3f4f6;
  color: #343a46;
}

.input_task-dark {
  background: #343a46;
  color: #ffffff;
  outline: none;
}

.input_task:focus {
  border: none;
}
.add_todo {
  width: 8rem;
  height: 2.4rem;
  font-size: 1rem;
  border-radius: 3px;
}
button {
  background: #087ea4;
  color: #ffffff;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.add__taks-button {
  text-align: right;
}
.add__taks-button button {
  width: 5.2rem;
  font-size: 1.1rem;
  height: 2.4rem;
  margin: 0.5rem;
  border-radius: 5px;
}
.add__taks-button button.cancel_todo {
  background-color: #f8f9fa;
  color: #23272f;
  outline: 1px solid #e6e8ed;
}

button:active {
  transform: translateY(3px);
}

.new__taks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  
}
.header_theme_btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

i.fa-solid.color--while {
  color: #ffffff;
}
i.style--margin {
  margin-right: 0.3rem;
}
.new__taks-light {
  background-color: #f3f4f6;
}

.new__taks-dark {
  background-color: #444b59;
  outline: none;
}

.new__taks-light p {
  font-size: 1rem;
  color: #444b59;
}

.new__taks-dark p {
  font-size: 1rem;
  color: #f8f9fa;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
