.todo_list{
    margin-top: 1rem;
}
.filer_todo{
    max-width: fit-content;
    min-height: 2rem;
    outline: none;
    font-size: 0.9rem;
    padding-left: 0.3rem;
    border-radius: 3px;
}
.filter-light{
    background: #ffffff;
    color: #343A46;
}

.filter-dark{
    background: #343A46;
    color: #ffffff;
    outline: none;
}