.todo__task {
  text-align: start;
  margin: 0.8rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  outline: 1px solid #999999;
}
.todo__task--light {
  background-color: #f3f4f6;
  box-shadow: 2px 2px 2px #999999;
 
}
.todo__task p {
  font-size: 1rem;
}
.todo__task--light p {
  color: #444b59;
}
.todo__task--dark p {
  color: #f8f9fa;
}
.todo__task--dark {
  background-color: #444b59;
  box-shadow: 2px 1px 5px #f0f1f4;
  
}
.todo__task label {
  font-size: 1.3rem;
  margin-left: 1rem;
}
.todo__task--light label {
  color: #444b59;
}
.todo__task--dark label {
  color: #ebecf0;
}
.todo__task .task__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo__task .task__item button {
  background-color: transparent;
  border: none;
}
.edit__taks-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0.5rem 0;
}

.todo__task .increase_button,
.todo__task .decrease_button {
  font-size: 1.2rem;
}
.todo__task button.pomodoros-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.todo__task .task__item .competed {
  text-decoration: line-through;
  font-style: italic;
}
.todo__task--light .task__item .competed-light {
  color: #087ea4;
}
.todo__task--dark .task__item .competed-dark {
  color: #a6a6a6;
}
.edit_todo-button {
  margin-left: 1rem;
}
.check_todo-button,
.edit_todo-button {
  font-size: 1.2rem;
}
.todo__task--light .task__item .edit_todo-button--light {
  color: #404756;
}
.todo__task--dark .task__item .edit_todo-button--dark {
  color: #f6f7f9;
}

.todo-item_save,
.todo-item_cancel,
.todo-item_delete {
  width: 4rem;
  height: 1.6rem;
  font-size: 0.9rem;
  border-radius: 3px;
}
.todo-item_cancel {
  margin-right: 0.5rem;
}
.todo__task--light .todo-item_cancel--light,
.todo__task--light .todo-item_delete--light {
  background-color: #f8f9fa;
  color: #23272f;
  outline: 1px solid #e2e3e9;
}

.todo__task--dark .todo-item_cancel--dark,
.todo__task--dark .todo-item_delete--dark {
  background-color: #252932;
  color: #f6f7f9;
  outline: 1px solid #404756;
}
.todo__task .input_task {
  min-width: 20rem;
  min-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem;
  border: none;
}
.todo__task .input_task:focus,
.todo__task .input__pomodoros:focus {
  outline: none;
}
.todo__task--light .input_task-light {
  background: #f3f4f6;
  color: #343a46;
  border-radius: 2px;
  outline: 1px solid #e6e8ed;
}

.todo__task--dark .input_task-dark {
  background: #343a46;
  color: #ffffff;
  outline: none;
}
.todo__task_pomodoros {
  display: flex;
  justify-content: flex-start;
  gap: 0.25rem;
}
.todo__task .input__pomodoros {
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 2px;

}
