.sign-in {
  min-width: 80%;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sign-in input {
  width: 15rem;
  height: 2rem;
  font-size: 1rem;
  padding-left: 0.25rem;
}
.sign-in button {
  width: 15rem;
  height: 2rem;
  font-size: 1rem;
}
.sign-in .user_islogin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.sign-in .user_islogin--light {
  color: #23272f;
}
.sign-in .user_islogin--dark {
  color: #f6f7f9;
}
.sign-in .user_islogin img {
  width: 12rem;
  height: 12rem;
  border-radius: 5px;
}
span.user_name {
  color: #087ea4;
}
.item-img {
  width: 40%;
  height: 100%;
}
.item-infomation {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: space-between;
  gap: 1.2rem;
}
.sign-in .item-info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

.btn-logout:hover {
  background-color: transparent;
  color: #087ea4;
  border: 1px solid #087ea4;
}
button.button-setting {
  width: 8rem;
  height: 2rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #087ea4;
  border: 1px solid #087ea4;
  background-color: transparent;
}
button.button-setting:hover {
  background-color: #087ea4;
  color: #f6f7f9;
}
.edit-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-end;
  gap: 1rem;
}
.edit-intro {
  display: flex;
  flex-direction: column;
}
#user-intro {
  width: 100%;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  border: none;
  background: #f3f4f6;
  resize: none;
  color: #087ea4;
}
#user-intro:focus {
  outline: none;
  color: #23272f;
  font-weight: 600;
}
button.user-btn-cancel,
button.user-btn-update {
  width: 5rem;
  max-height: fit-content;
  padding: 0.25rem;
}
button.user-btn-cancel {
  color: #087ea4;
  background-color: transparent;
  border: 1px solid #087ea4;
}
.edit-user input {
  width: 30vw;
}
.edit-user label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-weight: 600;
}
.sign-in .item-infomation .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-in .item-infomation .item p {
  margin: 0.25rem;
}
.sign-in .item-infomation input {
  width: fit-content;
  height: fit-content;
  padding-left: 0.25rem;
  background-color: #f3f4f6;
  border: none;
  color: #087ea4;
  border-radius: 0.25rem;
  outline: none;
}
.sign-in .item-infomation input:focus {
  outline: 1px solid #087ea4;
}
.sign-in fieldset {
  width: 36rem;
}
.footer-account,
.button-user {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 2rem;
  width: 50%;
  padding-top: 2rem;
}
.button-user {
  justify-content: flex-end;
}
@media only screen and (max-width: 480px) {
  .sign-in .item-info {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .sign-in .user_islogin img {
    width: 15rem;
    height: 15rem;
  }
  .btn-logout {
    margin-top: 3rem;
  }
  button.button-setting {
    left: 3rem;
    top: 22.5rem;
  }
  .edit-user input,
  #user-intro {
    width: 80vw;
  }
  .sign-in .user_islogin {
    text-align: center;
  }
}
