.todo_header{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.input_task{
    min-width: 20rem;
    min-height: 1.5rem;
    font-size: 1rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
    border: none;
    outline: 1px solid gray;
}
.input_task:focus{
    outline: 2px grey solid;
    border: none;
}
.add_todo{
    width: 5rem;
    height: 2rem;
    background: grey;
    color: white;
    border: none;
    font-size: 1rem;
    transition: all 0.5s;
    
}
.add_todo:hover{
    background-color: transparent;
    color: black;
    border: 1px solid;
}
