.todo_header{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}
.todo_header p{
    margin: 0;
    padding-bottom: 0.25rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.header__pomodoros{
display: flex;
align-items: center;
gap: 0.25rem;
}
.header__pomodoros input {
    width: 2rem;
    height: 2rem;
    padding :0;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 2px;
    outline: 1px solid #E6E8ED;
}
.header__pomodoros button {
    width: 2rem;
    height: 2rem;
    border-radius: 2px;
}
.input_task{
    min-width: 20rem;
    min-height: 1.5rem;
    font-size: 1rem;
    padding: 0.25rem;
    border: none;
    outline: none
    
}
.input_task:focus{
   
    border: none;
}
.add_todo{
    width: 8rem;
    height: 2.4rem;
    font-size: 1rem;
    border-radius: 3px;
}
button{
    background: #087EA4;
    color: #ffffff;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}
.add__taks-button{
    text-align: right;
}
.add__taks-button button{
    width: 5.2rem;
    font-size: 1.1rem;
    height: 2.4rem;
    margin: 0.5rem;
    border-radius: 5px;
}
.add__taks-button button.cancel_todo{
    background-color: #F8F9FA;
    color: #23272F;
    outline: 1px solid #E6E8ED;
}

button:active{
    transform: translateY(3px);
}

.new__taks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px #999999;
}
i.fa-solid.color--while{
    color: #ffffff;
}
i.style--margin{
    margin-right: 0.3rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}