.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
  align-items: center;
}
.header_bg-light {
  background-color: #f3f4f6;
}

.header_bg-dark {
  background-color: #374151;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigator a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}
.color-link-light {
  color: #404756;
}

.color-link-dark {
  color: #f3f4f6;
}

.active-item-light {
  background-color: #e6f7ff;
  color: #087ea4;
}

.active-item-dark {
  background-color: #283542;
  color: #087ea4;
}

button.dark--theme,
button.light--theme {
  background-color: transparent;
  border: none;
  margin-right: 3rem;
}
i.fa-moon {
  color: #404756;
  font-size: 1.5rem;
}

i.fa-sun {
  color: #f8f9fa;
  font-size: 1.5rem;
}
