.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
  align-items: center;
  padding: 0.25rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header--light {
  background-color: #f3f4f6;
}

.header--dark {
  background-color: #374151;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .moon {
  color: #404756;
  
}
.header .sun , .header .moon{
  font-size: 1.3rem;
  padding: 0.25rem 0;
}
.navigator a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}
.color-link-light {
  color: #404756;
}
.color-link-light:hover{
  background-color: #EBECF0;
}

.color-link-dark {
  color: #f3f4f6;
}
.color-link-dark:hover{
  background-color: #333A45;
}
.active-item-light {
  background-color: #e6f7ff;
  color: #087ea4;
}

.active-item-dark {
  background-color: #283542;
  color: #149eca;
}

button.dark--theme,
button.light--theme {
  background-color: transparent;
  border: none;
  margin-right: 3.5rem;
  padding: 0;
}
.scrolled-up {
  border-bottom: 1px solid #dadada;
  top: 0;
}
.scrolled-down {
  border-bottom: 1px solid #dadada;
  top: -4rem;
}
@media only screen and (max-width: 480px) {
   .header{
    gap: 3rem;
   } 
   .header ul{
    gap:0.5rem
   }
}