.information {
  width: 60vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 2rem;
  border-radius: 8px;
}
.information--light {
  background-color: #ffffff;
}
.information--dark {
  background-color: #444b59;
}
.information p {
  margin: 1.5rem 0;
  letter-spacing: 1px;
}
.information .user-text--flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}
.information .info_user-icon {
  font-size: 1.2rem;
}
.information_bg-light .color-light {
  color: #087ea4;
}
.information_bg-dark .color-dark {
  color: #149ace;
}
.info_image {
  width: 22vw;
  height: 55vh;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #f7f7f7;
}
.information--light .image-light{
    opacity: 1;
}
.information--dark .image-dark{
    opacity: 0.8;
}
.information--light .info_user-light {
  color: #23272f;
}

.information--dark .info_user-dark {
  color: #f6f7f9;
}

.description-width {
  width: 25vw;
}
@media only screen and (max-width: 480px) {
  .information{
    flex-direction: column;
    width: 90vw;
    height: 90vh;
  }
  .info_image {
    width: 80vw;
    height: 30vh;
    margin-top: 5rem;
    margin-left: 1.2rem;
  }
  .info_user{
    padding-left: 1rem;
    padding-bottom: 5rem;
  }
  .description-width{
    width: 80vw;
  }
}
