.error{
    padding: 2rem;
}
.error--light .text-error--light{
color: #23272f;
}
.error--dark .text-error--dark {
    color: #f6f7f9;
}
.text-title{
    font-size: 4rem;
}
img.img-logo_todo{
    width: 15rem;
}
button.error-button{
    margin-top: 1rem;
    width: 3.5rem;
    height: 1.5rem;
}
.error-link{
    text-decoration: none;
}
.error--light .error-link--light{
    color: #087EA4;
}
.error--dark .error-link--dark{
    color: #149ECA;
}
.pathname{
    font-size: 1.2rem;
}


@media only screen and (max-width: 480px) {
    .text-title{
        font-size: 2rem;
    }  
}